/*-----------------------------------------------------------------------------------

    Template Name:ultimate Theme
    Template URI: http://themes.pixelstrap.com/ultimate
    Description: Sass Landing Page
    Author: Pixelstrap
    Author URI: https://themeforest.net/user/pixelstrap

-----------------------------------------------------------------------------------

/**************************
variables
*************************/
$white: #ffffff;
$black: #000000;
$primary: #8648db;
$shadow-color: rgba(134, 72, 219, 0.2);
$light: #BA38D2;
$dark: #6851DF;

/**************************
landing css start
*************************/

.container {
  max-width: 1440px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: calc(11px + (13 - 11) * ((100vw - 300px) / (1920 - 300)));
}

h1 {
  font-size: calc(22px + (40 - 22) * ((100vw - 300px) / (1920 - 300)));
  color: $white;
  margin-top: -9px;
  margin-bottom: 22px;
}

h2 {
  font-size: calc(20px + (32 - 20) * ((100vw - 300px) / (1920 - 300)));
  color: $primary;
  font-weight: 600;
  margin-top: -5px;
}

h3 {
  font-size: calc(18px + (25 - 18) * ((100vw - 300px) / (1920 - 300)));
  color: $primary;
  font-weight: 700;
  margin-bottom: 0;
  &.font-bold{
    font-size:  calc(22px + (40 - 22) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 600;
    text-transform: uppercase;
  }
}

h4 {
  font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1920 - 300)));
  font-weight: 600;
  margin-top: -3px;
  margin-bottom: 30px;
}

h5 {
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1920 - 300)));
}

h6 {
  font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1920 - 300)));
  font-weight: 600;
  margin-bottom: 0;
}

p {
  font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1920 - 300)));
  margin-bottom: 0;
  margin-top: -2px;
  font-weight: 300;
}

section {
  padding: 80px 0;
}

a{
  color: $black;
  &:hover{
    color: $black;
    text-decoration: none;
  }
}
.btn {
  padding: 10px 18px;
  background-color: $white;
  border-radius: 10px;
  color: $light;
  font-size: calc(15px + (18 - 15) * ((100vw - 300px) / (1920 - 300)));
  font-weight: 600;
  text-transform: capitalize;
  border: 2px solid $white;
  i{
    padding-right: 8px;
  }
  &:hover,&:active,&:focus {
    background-color: transparent;
    color: $white !important;
  }
  &:focus {
    box-shadow: none;
  }
  &.btn-gradient{
    padding: 4px 35px;
    font-size: calc(18px + (30 - 18) * ((100vw - 300px) / (1920 - 300)));
    background-image: linear-gradient(121deg, $light , $dark) !important;
    border-radius: 24px;
    color: $white;
    text-transform: uppercase;
    font-weight:500 ;
    &:hover,&:active,&:focus {
      background-color: transparent !important;
      background-image: linear-gradient(  $dark,$light) !important;
    }
  }
}

.title {
  text-align: center;
  margin-bottom: 50px;
  .bottom-border {
    background: $primary;
    height: 2px;
    width: 46px;
    filter: drop-shadow(0 0 9px $primary);
  }
}
.second-img{
  height: 200px;
  margin-top: -45px;
  margin-bottom: -55px;
  margin-left: -50px;
}
.header-section {
  background: url("../images/landing/slider.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;

  margin-bottom: 150px;
  .logo-container {
    margin-bottom: 45px;
    .logo {
      height: 200px;
      margin-top: -45px;
      margin-bottom: -6px;
    }
  }
  .header-container {
    p {
      padding: 0 62px;
    }
  }
  .slider-absolute {
    width: 900px;
    display: flex;
    margin: 0 auto;
    margin-top: 8%;
  }
}

.app-preview-section {
  padding-top: 160px;
  .margin-preview{
    margin-bottom: -80px;
  }
  .demo-effects{
    position: relative;
    margin-bottom: 80px;
  .demo-layouts {
    .layout-images {
      width: 100%;
      height: 500px;
      background-image: url("../images/landing/navbar.jpg");
      display: inline-block;
      position: relative;
      background-repeat: no-repeat;
      box-shadow: 0 0 25px 0px #dcdcdc;
      padding-top: 15px;
      background-color: #fff;
      border-radius: 5px;
        .image-1 {
          background: url("../images/landing/App landding - 1.jpg");
        }
        .image-2 {
          background: url("../images/landing/App landding - 2.jpg");
        }
        .image-3 {
          background: url("../images/landing/Sass - 2 gredient.jpg");
        }
        .image-4 {
          background: url("../images/landing/Sass - 1.jpg");
        }
        .image-5 {
          background: url("../images/landing/Wedding.jpg");
        }
        .image-6 {
          background: url("../images/landing/yoga.jpg");
        }
        .image-7 {
          background: url("../images/landing/Resume.jpg");
        }
        .image-8 {
          background: url("../images/landing/Agency.jpg");
        }
        .image-9 {
          background: url("../images/landing/event.jpg");
        }
        .image-10 {
          background: url("../images/landing/Gym.jpg");
        }
        .image-11 {
          background: url("../images/landing/Music.jpg");
        }
      .layout-container {
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        transition: 10s;
      }
    }
    &.coming-soons {
      opacity: 0.5;
     .coming-soon{
       color: $black;
       font-size: calc(35px + (55 - 35) * ((100vw - 300px) / (1920 - 300)));
       text-align: center;
       opacity: 0.2;
       font-weight: 600;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100%;
     }
    }
    &:hover{
      .layout-images{
        .layout-container{
          background-position: center 100% !important;
          transition: 10s;
        }
      }
    }
    &.app-preview{
      overflow: hidden;
      padding: 0 20px;
      .preview-header{
        position: relative;
       text-align: left;
        transition: 0.8s;
        &:before{
          content: url("../images/landing/hover.png");
          position: absolute;
          left: -80px;
          opacity: 0;
        }
      }
      &:hover{
        .preview-header{
          transform: translate(18%, 0);
          transition: 0.8s;
          &:before{
            opacity: 1;
          }
        }
      }
    }
    }
  }
}

.feature-text-section {
  background: url("../images/landing/Feature-backgrounnd.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 90vh;
  margin-bottom: -20px;
  .font-bold{
    margin-top: 30px;
    text-transform: capitalize;
    margin-bottom: 30px;
  }
  .header-container{
    .second-img{
      margin-left: 0;
    }
  }
}

.animate-dot {
  &.small-dot {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    &.dot2 {
      width: 7px;
      height: 7px;
    }
    &.dot3 {
      width: 9px;
      height: 9px;
    }
  }

  &.center-dot {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    &:before {
      content: '';
      height: 18px;
      width: 18px;
      background: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }
    &.center-dot2 {
      width: 12px;
      height: 12px;
      &:before {
        height: 6px;
        width: 6px;
      }
    }
    &.center-dot3 {
      width: 11px;
      height: 11px;
      &:before {
        height: 7px;
        width: 7px;
      }
    }
  }
}

.advance-feature {
  .features-container {
    margin-bottom: -80px;
  }
  .feature {
    text-align: center;
    transition: 0.8s;
    margin-bottom: 80px;
    .feature-icon {
      position: relative;
      background: $white;
      border-radius: 10px;
      box-shadow: 0.5px 3.33px 45px 0 $shadow-color;
      display: inline-block;
      margin-bottom: 15px;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        box-shadow: 5px 8.66px 15px 0 $shadow-color;
        width: 73px;
        height: 73px;
        background-image: linear-gradient(121deg, $light 0%, $dark 100%);
        z-index: 1;
        opacity: 0;
        transition: 0.8s;
      }
    }
    .feature-img {
      display: inline-block;
    }
    .animate-dot {
      position: absolute;
      opacity: 0;
      transition: 0.8s;
      &.center-dot {
        top: 70%;
        left: -36%;
        &.center-dot2 {
          top: 55%;
          right: -10%;
          left: unset;
        }
        &.center-dot3 {
          top: -20%;
          right: 14%;
          left: unset;
        }
      }
      &.small-dot {
        top: 27%;
        left: -60%;
        &.dot2 {
          top: 35%;
          left: 4%;
        }
        &.dot3 {
          left: unset;
          top: 3%;
          right: -55%;
        }
      }
    }
    &:hover {
      .feature-icon {
        &:before {
          opacity: 1;
          transition: 0.5s;
        }
        .feature-img {
          z-index: 2;
          position: relative;
          filter: brightness(0) invert(1);
        }
      }
      .animate-dot {
        opacity: 1;
        transition: 0.8s;
        background-image: linear-gradient(121deg, $light 0%, $dark 100%);
      }
    }

  }
}

.buy-section {
  background: url("../images/landing/slider.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .font-bold{
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .header-container{
    .buy-para{
      margin-bottom: 25px;
    }
  }
  .mobile-image{
    position: absolute;
    bottom: -36.4%;
    right: 9%;
    width: 660px;
  }
}

.rate-us-section{
  padding-top: 251px;
  .font-bold {
      letter-spacing: 2px;
    margin-bottom: 30px;
    font-weight: 700;
    margin-top: -9px;
  }
  .btn{
    margin-bottom: 30px;

  }
}
.copyright-section{
    background-image: linear-gradient( -190deg, $light 0%, $dark 100%);
  .copy-text{
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1920 - 300)));
    padding: 15px 0;
  }
}


/*************************
 tap to top css start
*************************/
.tap-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  color: $white;
  text-align: center;
  background: -webkit-gradient(linear, left bottom, left top, from($light), to($dark));
  background: linear-gradient(to top, $light, $dark);
  border-radius: 100%;
  font-size: 22px;
  cursor: pointer;
  line-height: 2.2;
  display: none;
  border: 1px solid $white
}

/*************************
tap to top css end
*************************/


@media only screen and (max-width: 1600px) {
  .header-section {
    margin-bottom: 50px;
    .slider-absolute {
      width: 800px;
      margin-top: 2%;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .buy-section {
    .mobile-image {
      right: 6%;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .feature-text-section{
    height: 750px;
  }
  .buy-section {
    .mobile-image {
      right: 7%;
      bottom: -15.4%;
      width: 500px;
    }
  }
  .rate-us-section {
    padding-top: 142px;
    .font-bold{
      margin-top: -6px;
    }
  }
}

@media only screen and (max-width: 991px) {
  h2{
    margin-top: -3px;
  }
  h4{
    margin-bottom: 15px;
  }
  section{
    padding: 50px 0;
  }
  .second-img {
    height: 150px;
    margin-top: -33px;
    margin-bottom: -42px;
  }
  .header-section{
    height: 75vh;
    margin-bottom: 0;
    .slider-absolute {
      width: 620px;
      margin-top: 4%;
    }
    .logo-container {
      margin-bottom: 30px;

      .logo {
        height: 150px;
        margin-top: -33px;
        margin-bottom: -1px;
      }
      h1{
        margin-bottom: 18px;
      }
    }
  }
  .feature-text-section {
    height: 600px;
    margin-bottom: -14px;
     .font-bold{
       margin-top: 15px;
       margin-bottom: 15px;
     }
  }
  .buy-section {
    .mobile-image {
      display: none;
    }
    .font-bold {
      margin-top: 25px;
      margin-bottom: 15px;
    }
    .header-container {
      text-align: center;
      img {
        margin-left: 0;
      }
    }
  }
  .app-preview-section {
    .margin-preview {
      margin-bottom: -45px;
    }
    .demo-effects {
      margin-bottom: 40px;
    }
  }
  .rate-us-section {
    padding-top: 50px;
    .font-bold {
      margin-top: -7px;
    }
  }
}
@media only screen and (max-width: 767px) {
  .header-section {
    height: 680px;
    .slider-absolute {
      width: 605px;
      margin-top: 10%;
    }
    .header-container p {
      padding: 0;
    }
  }
  .feature-text-section {
    height: 500px;
  }
  .app-preview-section {
    padding-top: 100px;
    .demo-effects {
      .demo-layouts {
        .layout-images {
          height: 400px;
        }
      }
    }
  }
  .advance-feature {
    .feature {
      margin-bottom: 50px;
    }
    .features-container {
      margin-bottom: -50px;
    }
  }
  .rate-us-section{
    .stars{
      height: 35px;
    }
  }
}
@media only screen and (max-width: 575px) {
  .header-section {
    height: 550px;
      .slider-absolute {
        width: 440px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .header-section {
    height: 500px;
    .slider-absolute {
      width: 350px;
    }
  }
}
@media only screen and (max-width: 420px) {
  .header-section {
    .slider-absolute {
      width: 300px;
    }
  }
}