/*-----------------------------------------------------------------------------------

    Template Name:ultimate Theme
    Template URI: http://themes.pixelstrap.com/ultimate
    Description: Sass Landing Page
    Author: Pixelstrap
    Author URI: https://themeforest.net/user/pixelstrap

-----------------------------------------------------------------------------------

/**************************
variables
*************************/
/**************************
landing css start
*************************/
.container {
  max-width: 1440px; }

body {
  font-family: 'Poppins', sans-serif;
  font-size: calc(11px + (13 - 11) * ((100vw - 300px) / (1920 - 300))); }

h1 {
  font-size: calc(22px + (40 - 22) * ((100vw - 300px) / (1920 - 300)));
  color: #ffffff;
  margin-top: -9px;
  margin-bottom: 22px; }

h2 {
  font-size: calc(20px + (32 - 20) * ((100vw - 300px) / (1920 - 300)));
  color: #8648db;
  font-weight: 600;
  margin-top: -5px; }

h3 {
  font-size: calc(18px + (25 - 18) * ((100vw - 300px) / (1920 - 300)));
  color: #8648db;
  font-weight: 700;
  margin-bottom: 0; }
  h3.font-bold {
    font-size: calc(22px + (40 - 22) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 600;
    text-transform: uppercase; }

h4 {
  font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1920 - 300)));
  font-weight: 600;
  margin-top: -3px;
  margin-bottom: 30px; }

h5 {
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1920 - 300))); }

h6 {
  font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1920 - 300)));
  font-weight: 600;
  margin-bottom: 0; }

p {
  font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1920 - 300)));
  margin-bottom: 0;
  margin-top: -2px;
  font-weight: 300; }

section {
  padding: 80px 0; }

a {
  color: #000000; }
  a:hover {
    color: #000000;
    text-decoration: none; }

.btn {
  padding: 10px 18px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #BA38D2;
  font-size: calc(15px + (18 - 15) * ((100vw - 300px) / (1920 - 300)));
  font-weight: 600;
  text-transform: capitalize;
  border: 2px solid #ffffff; }
  .btn i {
    padding-right: 8px; }
  .btn:hover, .btn:active, .btn:focus {
    background-color: transparent;
    color: #ffffff !important; }
  .btn:focus {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .btn.btn-gradient {
    padding: 4px 35px;
    font-size: calc(18px + (30 - 18) * ((100vw - 300px) / (1920 - 300)));
    background-image: linear-gradient(121deg, #BA38D2, #6851DF) !important;
    border-radius: 24px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500; }
    .btn.btn-gradient:hover, .btn.btn-gradient:active, .btn.btn-gradient:focus {
      background-color: transparent !important;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#6851DF), to(#BA38D2)) !important;
      background-image: linear-gradient(#6851DF, #BA38D2) !important; }

.title {
  text-align: center;
  margin-bottom: 50px; }
  .title .bottom-border {
    background: #8648db;
    height: 2px;
    width: 46px;
    -webkit-filter: drop-shadow(0 0 9px #8648db);
            filter: drop-shadow(0 0 9px #8648db); }

.second-img {
  height: 200px;
  margin-top: -45px;
  margin-bottom: -55px;
  margin-left: -50px; }

.header-section {
  background: url("../images/landing/slider.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  margin-bottom: 150px; }
  .header-section .logo-container {
    margin-bottom: 45px; }
    .header-section .logo-container .logo {
      height: 200px;
      margin-top: -45px;
      margin-bottom: -6px; }
  .header-section .header-container p {
    padding: 0 62px; }
  .header-section .slider-absolute {
    width: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-top: 8%; }

.app-preview-section {
  padding-top: 160px; }
  .app-preview-section .margin-preview {
    margin-bottom: -80px; }
  .app-preview-section .demo-effects {
    position: relative;
    margin-bottom: 80px; }
    .app-preview-section .demo-effects .demo-layouts .layout-images {
      width: 100%;
      height: 500px;
      background-image: url("../images/landing/navbar.jpg");
      display: inline-block;
      position: relative;
      background-repeat: no-repeat;
      -webkit-box-shadow: 0 0 25px 0px #dcdcdc;
              box-shadow: 0 0 25px 0px #dcdcdc;
      padding-top: 15px;
      background-color: #fff;
      border-radius: 5px; }
      .app-preview-section .demo-effects .demo-layouts .layout-images .image-1 {
        background: url("../images/landing/App landding - 1.jpg"); }
      .app-preview-section .demo-effects .demo-layouts .layout-images .image-2 {
        background: url("../images/landing/App landding - 2.jpg"); }
      .app-preview-section .demo-effects .demo-layouts .layout-images .image-3 {
        background: url("../images/landing/Sass - 2 gredient.jpg"); }
      .app-preview-section .demo-effects .demo-layouts .layout-images .image-4 {
        background: url("../images/landing/Sass - 1.jpg"); }
      .app-preview-section .demo-effects .demo-layouts .layout-images .image-5 {
        background: url("../images/landing/Wedding.jpg"); }
      .app-preview-section .demo-effects .demo-layouts .layout-images .image-6 {
        background: url("../images/landing/yoga.jpg"); }
      .app-preview-section .demo-effects .demo-layouts .layout-images .image-7 {
        background: url("../images/landing/Resume.jpg"); }
      .app-preview-section .demo-effects .demo-layouts .layout-images .image-8 {
        background: url("../images/landing/Agency.jpg"); }
      .app-preview-section .demo-effects .demo-layouts .layout-images .image-9 {
        background: url("../images/landing/event.jpg"); }
      .app-preview-section .demo-effects .demo-layouts .layout-images .image-10 {
        background: url("../images/landing/Gym.jpg"); }
      .app-preview-section .demo-effects .demo-layouts .layout-images .image-11 {
        background: url("../images/landing/Music.jpg"); }
      .app-preview-section .demo-effects .demo-layouts .layout-images .layout-container {
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        -webkit-transition: 10s;
        transition: 10s; }
    .app-preview-section .demo-effects .demo-layouts.coming-soons {
      opacity: 0.5; }
      .app-preview-section .demo-effects .demo-layouts.coming-soons .coming-soon {
        color: #000000;
        font-size: calc(35px + (55 - 35) * ((100vw - 300px) / (1920 - 300)));
        text-align: center;
        opacity: 0.2;
        font-weight: 600;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 100%; }
    .app-preview-section .demo-effects .demo-layouts:hover .layout-images .layout-container {
      background-position: center 100% !important;
      -webkit-transition: 10s;
      transition: 10s; }
    .app-preview-section .demo-effects .demo-layouts.app-preview {
      overflow: hidden;
      padding: 0 20px; }
      .app-preview-section .demo-effects .demo-layouts.app-preview .preview-header {
        position: relative;
        text-align: left;
        -webkit-transition: 0.8s;
        transition: 0.8s; }
        .app-preview-section .demo-effects .demo-layouts.app-preview .preview-header:before {
          content: url("../images/landing/hover.png");
          position: absolute;
          left: -80px;
          opacity: 0; }
      .app-preview-section .demo-effects .demo-layouts.app-preview:hover .preview-header {
        -webkit-transform: translate(18%, 0);
                transform: translate(18%, 0);
        -webkit-transition: 0.8s;
        transition: 0.8s; }
        .app-preview-section .demo-effects .demo-layouts.app-preview:hover .preview-header:before {
          opacity: 1; }

.feature-text-section {
  background: url("../images/landing/Feature-backgrounnd.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 90vh;
  margin-bottom: -20px; }
  .feature-text-section .font-bold {
    margin-top: 30px;
    text-transform: capitalize;
    margin-bottom: 30px; }
  .feature-text-section .header-container .second-img {
    margin-left: 0; }

.animate-dot.small-dot {
  border-radius: 50%;
  width: 10px;
  height: 10px; }
  .animate-dot.small-dot.dot2 {
    width: 7px;
    height: 7px; }
  .animate-dot.small-dot.dot3 {
    width: 9px;
    height: 9px; }
.animate-dot.center-dot {
  border-radius: 50%;
  width: 24px;
  height: 24px; }
  .animate-dot.center-dot:before {
    content: '';
    height: 18px;
    width: 18px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%; }
  .animate-dot.center-dot.center-dot2 {
    width: 12px;
    height: 12px; }
    .animate-dot.center-dot.center-dot2:before {
      height: 6px;
      width: 6px; }
  .animate-dot.center-dot.center-dot3 {
    width: 11px;
    height: 11px; }
    .animate-dot.center-dot.center-dot3:before {
      height: 7px;
      width: 7px; }

.advance-feature .features-container {
  margin-bottom: -80px; }
.advance-feature .feature {
  text-align: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  margin-bottom: 80px; }
  .advance-feature .feature .feature-icon {
    position: relative;
    background: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: 0.5px 3.33px 45px 0 rgba(134, 72, 219, 0.2);
            box-shadow: 0.5px 3.33px 45px 0 rgba(134, 72, 219, 0.2);
    display: inline-block;
    margin-bottom: 15px; }
    .advance-feature .feature .feature-icon:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      border-radius: 50%;
      -webkit-box-shadow: 5px 8.66px 15px 0 rgba(134, 72, 219, 0.2);
              box-shadow: 5px 8.66px 15px 0 rgba(134, 72, 219, 0.2);
      width: 73px;
      height: 73px;
      background-image: linear-gradient(121deg, #BA38D2 0%, #6851DF 100%);
      z-index: 1;
      opacity: 0;
      -webkit-transition: 0.8s;
      transition: 0.8s; }
  .advance-feature .feature .feature-img {
    display: inline-block; }
  .advance-feature .feature .animate-dot {
    position: absolute;
    opacity: 0;
    -webkit-transition: 0.8s;
    transition: 0.8s; }
    .advance-feature .feature .animate-dot.center-dot {
      top: 70%;
      left: -36%; }
      .advance-feature .feature .animate-dot.center-dot.center-dot2 {
        top: 55%;
        right: -10%;
        left: unset; }
      .advance-feature .feature .animate-dot.center-dot.center-dot3 {
        top: -20%;
        right: 14%;
        left: unset; }
    .advance-feature .feature .animate-dot.small-dot {
      top: 27%;
      left: -60%; }
      .advance-feature .feature .animate-dot.small-dot.dot2 {
        top: 35%;
        left: 4%; }
      .advance-feature .feature .animate-dot.small-dot.dot3 {
        left: unset;
        top: 3%;
        right: -55%; }
  .advance-feature .feature:hover .feature-icon:before {
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .advance-feature .feature:hover .feature-icon .feature-img {
    z-index: 2;
    position: relative;
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1); }
  .advance-feature .feature:hover .animate-dot {
    opacity: 1;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    background-image: linear-gradient(121deg, #BA38D2 0%, #6851DF 100%); }

.buy-section {
  background: url("../images/landing/slider.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .buy-section .font-bold {
    margin-top: 40px;
    margin-bottom: 20px; }
  .buy-section .header-container .buy-para {
    margin-bottom: 25px; }
  .buy-section .mobile-image {
    position: absolute;
    bottom: -36.4%;
    right: 9%;
    width: 660px; }

.rate-us-section {
  padding-top: 251px; }
  .rate-us-section .font-bold {
    letter-spacing: 2px;
    margin-bottom: 30px;
    font-weight: 700;
    margin-top: -9px; }
  .rate-us-section .btn {
    margin-bottom: 30px; }

.copyright-section {
  background-image: linear-gradient(-190deg, #BA38D2 0%, #6851DF 100%); }
  .copyright-section .copy-text {
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1920 - 300)));
    padding: 15px 0; }

/*************************
 tap to top css start
*************************/
.tap-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  color: #ffffff;
  text-align: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#BA38D2), to(#6851DF));
  background: linear-gradient(to top, #BA38D2, #6851DF);
  border-radius: 100%;
  font-size: 22px;
  cursor: pointer;
  line-height: 2.2;
  display: none;
  border: 1px solid #ffffff; }

/*************************
tap to top css end
*************************/
@media only screen and (max-width: 1600px) {
  .header-section {
    margin-bottom: 50px; }
    .header-section .slider-absolute {
      width: 800px;
      margin-top: 2%; } }
@media only screen and (max-width: 1366px) {
  .buy-section .mobile-image {
    right: 6%; } }
@media only screen and (max-width: 1199px) {
  .feature-text-section {
    height: 750px; }

  .buy-section .mobile-image {
    right: 7%;
    bottom: -15.4%;
    width: 500px; }

  .rate-us-section {
    padding-top: 142px; }
    .rate-us-section .font-bold {
      margin-top: -6px; } }
@media only screen and (max-width: 991px) {
  h2 {
    margin-top: -3px; }

  h4 {
    margin-bottom: 15px; }

  section {
    padding: 50px 0; }

  .second-img {
    height: 150px;
    margin-top: -33px;
    margin-bottom: -42px; }

  .header-section {
    height: 75vh;
    margin-bottom: 0; }
    .header-section .slider-absolute {
      width: 620px;
      margin-top: 4%; }
    .header-section .logo-container {
      margin-bottom: 30px; }
      .header-section .logo-container .logo {
        height: 150px;
        margin-top: -33px;
        margin-bottom: -1px; }
      .header-section .logo-container h1 {
        margin-bottom: 18px; }

  .feature-text-section {
    height: 600px;
    margin-bottom: -14px; }
    .feature-text-section .font-bold {
      margin-top: 15px;
      margin-bottom: 15px; }

  .buy-section .mobile-image {
    display: none; }
  .buy-section .font-bold {
    margin-top: 25px;
    margin-bottom: 15px; }
  .buy-section .header-container {
    text-align: center; }
    .buy-section .header-container img {
      margin-left: 0; }

  .app-preview-section .margin-preview {
    margin-bottom: -45px; }
  .app-preview-section .demo-effects {
    margin-bottom: 40px; }

  .rate-us-section {
    padding-top: 50px; }
    .rate-us-section .font-bold {
      margin-top: -7px; } }
@media only screen and (max-width: 767px) {
  .header-section {
    height: 680px; }
    .header-section .slider-absolute {
      width: 605px;
      margin-top: 10%; }
    .header-section .header-container p {
      padding: 0; }

  .feature-text-section {
    height: 500px; }

  .app-preview-section {
    padding-top: 100px; }
    .app-preview-section .demo-effects .demo-layouts .layout-images {
      height: 400px; }

  .advance-feature .feature {
    margin-bottom: 50px; }
  .advance-feature .features-container {
    margin-bottom: -50px; }

  .rate-us-section .stars {
    height: 35px; } }
@media only screen and (max-width: 575px) {
  .header-section {
    height: 550px; }
    .header-section .slider-absolute {
      width: 440px; } }
@media only screen and (max-width: 480px) {
  .header-section {
    height: 500px; }
    .header-section .slider-absolute {
      width: 350px; } }
@media only screen and (max-width: 420px) {
  .header-section .slider-absolute {
    width: 300px; } }
